h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

p {
    text-align: center;
}

img {
    margin-left: 35%;
    border: 7px solid;
    color:rgb(245, 161, 161);
    border-radius: 50%;
   }

img:hover {
    background-color: rgb(219, 189, 194);
}
h3 {
    text-align: center;
}
ul {
    font-family: sans-serif;
}

body {
    background-color:rgb(247, 213, 199);
    
}
