* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: orange;
  background-image: url("../images/sky.jpeg");
  background-position: center;
  background-repeat: repeat-x;
  background-size: 30rem; */
}
/* h1,
h2,
h3,
#top,
.dark,
nav ul li a {
  color: blue;
} */
/* menu */
header nav {
  background-color: rgba(0, 0, 0, 0.76);
  position: fixed;
}
nav ul li {
  height: 3rem;
  display: inline;
  margin-left: 3rem;
}
/* main */
h1 {
  /* option 1 */
  color: red;
  /* option 2 */
  color: #ccc;
  /* option 3 */
  color: rgb(100, 106, 182);
  /* option 4 */
  /* color: rgba(); */
  background-color: rgba(3, 3, 255, 0.837);
  font-family: "Indie Flower", "cursive";
  font-size: 2rem;
  font-weight: bolder;
}
/*
 DRY
Don't Repeat Yourself
*/
section div {
  width: 3rem;
  height: 3rem;
  border: 2px black solid;
  
}
#red {
  background-color: red;
}
#orange {
  background-color: orange;
}
#green {
  background-color: green;
}

#rectangle{
    height: 9rem;
    width: 9rem;
    display: inline-block;
}