* {
  /* wirkt sich auf jedes Element aus, deshalb immer 
  vorsicht beim benutzen */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  /* Hier kann ich eine variable erstellen, die ich auf 
  das ganze Projekt anwenden kann (ähnlich dem Konzept 
  in SASS. */
  --my-color: rgb(5, 97, 2);
  --my-font-size: 3rem;
  --other-color: rgba(222, 77, 9, 0,5)
  --header-font-family: "Lucida Sans" Geneva, Verdana, sans-serif;
  /* Durch wieviele Elemente muss ich gehen um etwas zu ändern - mit der Variablen nur in diesem "container"*/
  --box-width: 3rem;
  --img-height: 44rem;
}
body{
  color: var(--my-color)
}
h1 {
  border: 2px var(--my-color) solid;  
}

/* body {
    background-color: red;
  } */
/* pseudo elements VS  pseudo classes */

/* pseudo-class is a keyword added to a selector that specifies a special state of the selected element(s). */
/* more pseudo classes
  :valid
  :hover */

/* pseudo-element is a keyword added to a selector that lets you style a specific part of the selected element(s) */

/* ::before  Vs :before */
/*   
    :before css2 and ::before is css3
  */
  h1::after{
    content:"😀";
    /* für kleiner Änderungen, was nicht die ganze html Datei ändern muss - wenn man das Passwort falsch eingegeben hat etc.  */
  }
  h1{
    h1::before{
      content: "😀";
    }
  }

/* ::placeholder  */
input[type="text"]::placeholder, input[type="password"]::placeholder{
  color: var(--my-color), ;
  /* stylen des Placeholders - entweder text oder mit comma dasselbe nochmal aber mit type=password */
}
/* ::first-letter (:first-letter) */
p::first-letter {
  color: var(--other-color);
  /* font-size: 4rem; */
  /* font-size: calc(var(--my-font-size)-1rem); */
  font-size: calc(var(--my-font-size)*1);
/* mit dem calculator kann man verschiedene basic rechnungen machen. px, rem, % etc. */
}


/* display:none vs opacity: 0 */
.car {
/* vie port width */
width: 15vw;
/* view port height */
height: 15vh;
/* Hier soll das Bild mitwachsen oder schrumpfen mit dem Bildschirm - wichtig wenn man andere Devices benutzt - responsive Website */
/* 15vw nimmt sich 15% der sichtbaren Seite */
filter: grayscale(10);
opacity: 0,7;
display: none; 
/* mit opacity bleibt das bild wo es ist, mit :none kollabiert das Bild - man kann es sozusagen rausnehmen */
}

/* vh & vw */

/* visual content like img */
/*  % , border-radius */
